<%= render @business %>
<div>
  <%= link_to "Edit business", edit_business_path %>
  <%= link_to "Destroy business", business_path, data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
</div>
