# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/

# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
!/.env*.erb
/.env*

# Ignore all default key files.
/config/credentials/*.key
/config/master.key

# Ignore all logfiles and tempfiles.
!/log/.keep
!/tmp/.keep
/log/*
/tmp/*

# Ignore pidfiles, but keep the directory.
!/tmp/pids/.keep
/tmp/pids/*

# Ignore storage (uploaded files in development and any SQLite databases).
!/storage/.keep
!/tmp/storage/.keep
/storage/*
/tmp/storage/*

# Ignore assets.
!/app/assets/builds/.keep
/app/assets/builds/*
/node_modules/
/public/assets
