# Ignore Bundler config.
/.bundle

# Ignore all environment files (except templates).
!/.env*.erb
/.env*

# Ignore all logfiles and tempfiles.
!/log/.keep
!/tmp/.keep
/log/*
/tmp/*

# Ignore pidfiles, but keep the directory.
!/tmp/pids/
!/tmp/pids/.keep
/tmp/pids/*

# Ignore storage (uploaded files in development and any SQLite databases).
!/storage/.keep
!/tmp/storage/
!/tmp/storage/.keep
/public/assets
/storage/*
/tmp/storage/*

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore Vite's static assets path and Node.js modules.
/public/vite*
node_modules

# Vite uses dotenv and suggests to ignore local-only env files.
# Read more: https://vitejs.dev/guide/env-and-mode.html#env-files
*.local
